<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{index :: head}">
</head>
<body>
<nav th:replace="~{index :: navbar}"></nav>
<div class="container mt-4" style="width: 35%">
  <div class="card border-success">
    <div class="card-body">
      <h5 tclass="card-title">Add New</h5>
      <form th:action="@{/blogs/save}" method="post" th:object="${blogForm}" enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}" th:value="${blogForm.id}">
        <fieldset class="form-group mb-2">
          <label class="mb-2">Title</label>
          <input type="text" class="form-control" th:field="*{title}" required="required">
        </fieldset>
        <fieldset class="form-group mb-2">
          <label class="mb-2">Content</label>
          <textarea type="text" class="form-control" th:field="*{content}" required="required"></textarea>
        </fieldset>
        <fieldset class="form-group mb-2">
          <label class="mb-2">Image</label>
          <input type="file" class="form-control" th:field="*{image}" required="required"></textarea>
        </fieldset>
        <fieldset class="form-group mb-2">
          <button type="submit" class="btn btn-success">Save</button>
          <button type="reset" class="btn btn-secondary"><a th:href="@{/blogs}">Cancel</a></button>
        </fieldset>
      </form>
    </div>
  </div>
</div>
</body>
</html>