<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRUD Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <style>
        body {
            /*font-family: 'Varela Round', sans-serif;*/
            font-size: 1.15rem;
            background-color: #f6f8fa;
        }

        a, a:hover {
            text-decoration: none;
            color: white;
        }

        .selector-for-some-widget {
            box-sizing: content-box;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.16/dist/sweetalert2.all.min.js"></script>
    <script type="text/javascript">

        function getCustomer(customer) {
            return `
            <tr>
                <td>${customer.id}</td>
                <td>${customer.firstName}</td>
                <td>${customer.lastName}</td>
                <td class="text-center">
                    <button href="" class="btn btn-info" onclick="viewCustomer(${customer.id})">View</button>
                    <button class="btn btn-warning" onclick="getEditCustomer(${customer.id})">Edit</button>
                    <button class="btn btn-danger" onclick="deleteCustomer(${customer.id})">Delete</button>
                </td>
            </tr>
            `;
        }

        function getList() {
            $.ajax({
                type: "GET",
                //tên API
                url: "http://localhost:8080/customers",
                //xử lý khi thành công
                success: function (data) {
                    // hien thi danh sach o day
                    let content =
                        `<thead>
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th class="text-center">Action</th>
                    </tr>
                    </thead>`;
                    for (let i = 0; i < data.length; i++) {
                        content += getCustomer(data[i]);
                    }
                    document.getElementById('dataTable').innerHTML = content;
                }
            })
        }

        function saveCustomer(id) {
            event.preventDefault();

            let check = true;
            let inputValid = $('.inputVal');
            for (let i = 0; i < inputValid.length; i++) {
                if (inputValid[i].value === '') {
                    return check = false;
                }
            }

            if (check) {
                if (id == null) {
                    let firstName = $('#firstName').val();
                    let lastName = $('#lastName').val();
                    let customer = {
                        firstName: firstName,
                        lastName: lastName
                    }
                    $.ajax({
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        type: "POST",
                        data: JSON.stringify(customer),
                        url: "http://localhost:8080/customers",
                        success: getList,
                    })
                    $('#Modal').modal('toggle');
                    $("#form").get(0).reset()

                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: 'Create Successfully!',
                        showConfirmButton: false,
                        timer: 1000
                    })
                } else {
                    let firstName = $('#firstName').val();
                    let lastName = $('#lastName').val();
                    let customer = {
                        id: id,
                        firstName: firstName,
                        lastName: lastName
                    }
                    $.ajax({
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        type: "PUT",
                        data: JSON.stringify(customer),
                        url: "http://localhost:8080/customers/" + id,
                        success: getList,
                    })
                    $('#Modal').modal('toggle');
                    $("#form").get(0).reset()
                    document.getElementById('save').setAttribute("onclick", "saveCustomer()");
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: 'Update Successfully!',
                        showConfirmButton: false,
                        timer: 1000
                    })
                }
            }
        }

        function deleteCustomer(id) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: "DELETE",
                        url: `http://localhost:8080/customers/` + id,
                        success: function (data) {
                            Swal.fire({
                                    position: 'top-end',
                                    icon: 'success',
                                    title: 'Delete Successfully!',
                                    showConfirmButton: false,
                                    timer: 1000
                                }
                            );
                            getList()
                        }
                    })
                }
            })
        }

        function getEditCustomer(id) {
            $('#Modal').modal('show');
            $.ajax({
                type: "GET",
                url: `http://localhost:8080/customers/` + id,
                success: function (customer) {
                    $("#firstName").val(customer.firstName);
                    $("#lastName").val(customer.lastName);
                    document.getElementById('save').setAttribute("onclick", "saveCustomer(" + id + ")");
                }
            })
        }

        function viewCustomer(id) {
            $('#ModalView').modal('show');
            $.ajax({
                type: "GET",
                url: `http://localhost:8080/customers/` + id,
                success: function (customer) {
                    $("#viewFirstName").val(customer.firstName);
                    $("#viewLastName").val(customer.lastName);
                }
            })
        }

        function resetForm() {
            $("#form").get(0).reset();
            document.getElementById('save').setAttribute("onclick", "saveCustomer()");
        }

    </script>
</head>
<body onload="getList()">
<nav class="navbar text-white" style="background: #2c3e50">
    <div class="container-fluid">
        <a class="navbar-brand text-white">Customers Manager</a>
    </div>
</nav>
<div class="container mt-4">
    <div class="container g-0 mt-4">
        <div class="d-flex bd-highlight mb-3">
            <div class="me-auto p-0 bd-highlight"><h2>Data Table</h2></div>
            <div class="p-0 bd-highlight">
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#Modal">
                    Create
                </button>

            </div>
        </div>
    </div>
    <div class="container g-0 mt-4">
        <div class="d-flex bd-highlight mb-3">
            <div class="me-auto p-0 bd-highlight">
                <select class="form-select" aria-label="Default select example" name="Sort">
                    <option selected>Sort</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="p-0 bd-highlight">
                <form action="@{/blogs   }" method="get">
                    <input type="search" class="form-control" placeholder="Search By Name" name="search">
                </form>
            </div>
        </div>
        <hr>
    </div>
    <div class="container mt-2">
        <table id="dataTable" class="table table-striped"></table>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="form">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="firstName" class="col-form-label">First Name:</label>
                        <input type="text" class="form-control inputVal" id="firstName" required>
                    </div>
                    <div class="form-group">
                        <label for="lastName" class="col-form-label">Last Name:</label>
                        <input type="text" class="form-control inputVal" id="lastName" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="resetForm()">
                        Cancel
                    </button>
                    <button type="button" class="btn btn-success" onclick="saveCustomer()" id="save">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--- bootstrap js -->
<!-- View Modal -->
<div class="modal fade" id="ModalView" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="firstName" class="col-form-label">First Name:</label>
                        <input type="text" class="form-control" id="viewFirstName" name="firstName" readonly>
                    </div>
                    <div class="form-group">
                        <label for="lastName" class="col-form-label">Last Name:</label>
                        <input type="text" class="form-control" id="viewLastName" name="lastName" readonly>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="cancel">Back</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        let totalPages = 1;

        function fetchNotes(startPage) {
            //console.log('startPage: ' +startPage);
            /**
             * get data from Backend's REST API
             */
            $.ajax({
                type : "GET",
                url : "http://localhost:8080/notes",
                data: {
                    page: startPage,
                    size: 10
                },
                success: function(response){
                    $('#noteTable tbody').empty();
                    // add table rows
                    $.each(response.content, (i, note) => {
                        let noteRow = '<tr>' +
                            '<td>' + note.id + '</td>' +
                            '<td>' + note.note + '</td>' +
                            '</tr>';
                        $('#noteTable tbody').append(noteRow);
                    });

                    if ($('ul.pagination li').length - 2 != response.totalPages){
                        // build pagination list at the first time loading
                        $('ul.pagination').empty();
                        buildPagination(response);
                    }
                },
                error : function(e) {
                    alert("ERROR: ", e);
                    console.log("ERROR: ", e);
                }
            });
        }

        function buildPagination(response) {
            totalPages = response.totalPages;

            var pageNumber = response.pageable.pageNumber;

            var numLinks = 10;

            // print 'previous' link only if not on page one
            var first = '';
            var prev = '';
            if (pageNumber > 0) {
                if(pageNumber !== 0) {
                    first = '<li class="page-item"><a class="page-link">« First</a></li>';
                }
                prev = '<li class="page-item"><a class="page-link">‹ Prev</a></li>';
            } else {
                prev = ''; // on the page one, don't show 'previous' link
                first = ''; // nor 'first page' link
            }

            // print 'next' link only if not on the last page
            var next = '';
            var last = '';
            if (pageNumber < totalPages) {
                if(pageNumber !== totalPages - 1) {
                    next = '<li class="page-item"><a class="page-link">Next ›</a></li>';
                    last = '<li class="page-item"><a class="page-link">Last »</a></li>';
                }
            } else {
                next = ''; // on the last page, don't show 'next' link
                last = ''; // nor 'last page' link
            }

            var start = pageNumber - (pageNumber % numLinks) + 1;
            var end = start + numLinks - 1;
            end = Math.min(totalPages, end);
            var pagingLink = '';

            for (var i = start; i <= end; i++) {
                if (i == pageNumber + 1) {
                    pagingLink += '<li class="page-item active"><a class="page-link"> ' + i + ' </a></li>'; // no need to create a link to current page
                } else {
                    pagingLink += '<li class="page-item"><a class="page-link"> ' + i + ' </a></li>';
                }
            }

            // return the page navigation link
            pagingLink = first + prev + pagingLink + next + last;

            $("ul.pagination").append(pagingLink);
        }

        $(document).on("click", "ul.pagination li a", function() {
            var data = $(this).attr('data');
            let val = $(this).text();
            console.log('val: ' + val);

            // click on the NEXT tag
            if(val.toUpperCase() === "« FIRST") {
                let currentActive = $("li.active");
                fetchNotes(0);
                $("li.active").removeClass("active");
                // add .active to next-pagination li
                currentActive.next().addClass("active");
            } else if(val.toUpperCase() === "LAST »") {
                fetchNotes(totalPages - 1);
                $("li.active").removeClass("active");
                // add .active to next-pagination li
                currentActive.next().addClass("active");
            } else if(val.toUpperCase() === "NEXT ›") {
                let activeValue = parseInt($("ul.pagination li.active").text());
                if(activeValue < totalPages){
                    let currentActive = $("li.active");
                    startPage = activeValue;
                    fetchNotes(startPage);
                    // remove .active class for the old li tag
                    $("li.active").removeClass("active");
                    // add .active to next-pagination li
                    currentActive.next().addClass("active");
                }
            } else if(val.toUpperCase() === "‹ PREV") {
                let activeValue = parseInt($("ul.pagination li.active").text());
                if(activeValue > 1) {
                    // get the previous page
                    startPage = activeValue - 2;
                    fetchNotes(startPage);
                    let currentActive = $("li.active");
                    currentActive.removeClass("active");
                    // add .active to previous-pagination li
                    currentActive.prev().addClass("active");
                }
            } else {
                startPage = parseInt(val - 1);
                fetchNotes(startPage);
                // add focus to the li tag
                $("li.active").removeClass("active");
                $(this).parent().addClass("active");
                //$(this).addClass("active");
            }
        });

        (function(){
            // get first-page at initial time
            fetchNotes(0);
        })();
    });

</script>
</body>
</html>